/* margins */
.marginBottom10 {
  margin-bottom: 10px
}

.marginBottom20 {
  margin-bottom: 20px
}

.marginTop30 {
  margin-top: 30px
}

.marginTop20 {
  margin-top: 20px
}

.marginTop10 {
  margin-top: 10px
}

.margin10 {
  margin: 10px;
}

.marginRight10 {
  margin-right: 10px;
}

.marginTop50 {
  margin-top: 50px;
}
/* margins */


/* padding */
.padding50 {
  padding: 50px;
}

.padding10 {
  padding: 5px;
}

.paddingBottom10 {
  padding-bottom: 50px
}

@media only screen and (min-width: 768px) {
  .paddinghDesktop50 {
    padding: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .paddinghMobile10 {
    padding: 10px;
  }
}
/* padding */

/* width */
@media only screen and (min-width: 768px) {
  .widthDesktop50 {
    width: 50%;
  }
}
/* width */

.cursorPointer {
  cursor: pointer;
}

.floatRight {
  float: right;
}

.centerAlign {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .centerAlignTop {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}

.w-100 {
  width: 100%;
}

.successGreen {
  background: #37b237; 
}

.textAlign {
  text-align: center;
}